flow_definitions/Presidio_Ano_Deano_Flow/Presidio_Ano_Deano_Flow.json
{"flowContents":{"identifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","instanceIdentifier":"fa2ed14c-019a-1000-1d64-47cff362f842","name":"Presidio Ano Deano Flow","comments":"","position":{"x":-928.0,"y":-1448.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c65fa809-1b95-350d-bd46-2afb99cde9f4","instanceIdentifier":"f9f9a395-019a-1000-490f-c6d28e09b163","name":"PresidioDeanonymizer","comments":"","position":{"x":-512.0,"y":224.0},"type":"PresidioDeanonymizer","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1"},"properties":{"Spacy Model File":"/files/spacy_models/en_core_web_lg-3.8.0-py3-none-any.whl","Map Database Path":"/files/sqlite3/anonymization_map.db"},"propertyDescriptors":{"Spacy Model File":{"name":"Spacy Model File","displayName":"Spacy Model File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Map Database Path":{"name":"Map Database Path","displayName":"Map Database Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"1be6cf56-1b30-3718-9d0d-408aec9dd812","instanceIdentifier":"f9f97f8c-019a-1000-b66d-e1754b81f293","name":"PresidioAnonymizer","comments":"","position":{"x":-512.0,"y":-704.0},"type":"PresidioAnonymizer","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1"},"properties":{"Spacy Model File":"/files/spacy_models/en_core_web_lg-3.8.0-py3-none-any.whl","ChromaDB Path":"/files/chroma_db","Map Database Path":"/files/sqlite3/anonymization_map.db","Faker Seed":"42"},"propertyDescriptors":{"Spacy Model File":{"name":"Spacy Model File","displayName":"Spacy Model File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ChromaDB Path":{"name":"ChromaDB Path","displayName":"ChromaDB Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Map Database Path":{"name":"Map Database Path","displayName":"Map Database Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Faker Seed":{"name":"Faker Seed","displayName":"Faker Seed","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"cd36b5eb-37bd-38cd-a5ed-be0040b21c5c","instanceIdentifier":"fa0a63a5-019a-1000-292a-569f5aeab855","name":"FetchFile","comments":"","position":{"x":-512.0,"y":-1080.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"617fae92-cecc-3e96-9119-2a1eb01d8657","instanceIdentifier":"fa1f33f4-019a-1000-99aa-979ca37dcbf7","name":"PutFile","comments":"","position":{"x":-512.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/files/test_data/anonymized","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"21d3d013-2290-3623-802e-6f5b36ae22f0","instanceIdentifier":"fa214096-019a-1000-f464-22fc3e3ab1ac","name":"Update filename","comments":"","position":{"x":-512.0,"y":-400.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:prepend(\"ANO-\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"4b8b67ae-dd13-36db-92a2-8c338c7003a5","instanceIdentifier":"fa0927a3-019a-1000-5a71-70efe25641dd","name":"ListFile","comments":"","position":{"x":-512.0,"y":-1448.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"false","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"none","Input Directory":"/files/test_data","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"fa22fa6c-019a-1000-1267-e2fcc840fb49","instanceIdentifier":"3f6ddfee-d8af-3788-b1e9-08f7a6c4f074","name":"Update filename","comments":"","position":{"x":-512.0,"y":544.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:prepend(\"DE\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"fa1fddc4-019a-1000-5fc8-b6a30a787fa3","instanceIdentifier":"2282ba27-7e7a-395f-6931-1e3e58d670c8","name":"PutFile","comments":"","position":{"x":-512.0,"y":904.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/files/test_data/deanonymized","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a3c8c064-acd6-3150-a901-7348cf307d00","instanceIdentifier":"fa0b1424-019a-1000-afd0-0bc3754bbc43","name":"","source":{"id":"cd36b5eb-37bd-38cd-a5ed-be0040b21c5c","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"FetchFile","comments":"","instanceIdentifier":"fa0a63a5-019a-1000-292a-569f5aeab855"},"destination":{"id":"fa0ada91-019a-1000-2b11-40412286d42d","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f23e6b26-424b-3a35-0fbd-a0e9296934f1"},"labelIndex":0,"zIndex":15,"selectedRelationships":["permission.denied"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"8c196022-55a5-3198-9c16-f5231568e11b","instanceIdentifier":"f9fd3735-019a-1000-dfdc-0246c47e1696","name":"","source":{"id":"1be6cf56-1b30-3718-9d0d-408aec9dd812","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PresidioAnonymizer","comments":"","instanceIdentifier":"f9f97f8c-019a-1000-b66d-e1754b81f293"},"destination":{"id":"e4063aa4-b58d-313d-8076-3b1b97dcdc7b","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fd1948-019a-1000-c599-ab365e50b81a"},"labelIndex":0,"zIndex":8,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"f97a6ac7-c2dd-31f4-989a-27ec1fb48b15","instanceIdentifier":"fa21bf0b-019a-1000-6a6a-f3f87ae531c5","name":"","source":{"id":"8108a603-30d3-33a8-acaa-fd3dd3057eec","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"fa21873d-019a-1000-8b20-1ec35cd10b95"},"destination":{"id":"617fae92-cecc-3e96-9119-2a1eb01d8657","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PutFile","comments":"","instanceIdentifier":"fa1f33f4-019a-1000-99aa-979ca37dcbf7"},"labelIndex":0,"zIndex":21,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"3eebba6f-780b-3750-b475-e70e71220f73","instanceIdentifier":"f9fb4427-019a-1000-0814-5edebb9bed70","name":"","source":{"id":"c65fa809-1b95-350d-bd46-2afb99cde9f4","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PresidioDeanonymizer","comments":"","instanceIdentifier":"f9f9a395-019a-1000-490f-c6d28e09b163"},"destination":{"id":"26ce5cbf-afeb-393e-aaa1-9a82b2b6da34","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fb3335-019a-1000-7b28-5298f6557768"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"faeb6210-d0e7-3451-abba-7b18cd68fcfd","instanceIdentifier":"fa0b061d-019a-1000-901c-ade4591c98b8","name":"","source":{"id":"cd36b5eb-37bd-38cd-a5ed-be0040b21c5c","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"FetchFile","comments":"","instanceIdentifier":"fa0a63a5-019a-1000-292a-569f5aeab855"},"destination":{"id":"6330609d-0452-340e-8db8-37bc047437f2","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"fa0a0bd8-019a-1000-a2ad-d9ef7e8e1a33"},"labelIndex":0,"zIndex":14,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"c621a359-de91-3d3f-8450-9c15e8179112","instanceIdentifier":"fa21b459-019a-1000-b603-ea00529f9936","name":"","source":{"id":"21d3d013-2290-3623-802e-6f5b36ae22f0","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Update filename","comments":"","instanceIdentifier":"fa214096-019a-1000-f464-22fc3e3ab1ac"},"destination":{"id":"8108a603-30d3-33a8-acaa-fd3dd3057eec","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"fa21873d-019a-1000-8b20-1ec35cd10b95"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"701dd232-6a5a-3218-9a0e-14f2b6681674","instanceIdentifier":"f9fd054a-019a-1000-8e20-3706c588c6a7","name":"","source":{"id":"1be6cf56-1b30-3718-9d0d-408aec9dd812","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PresidioAnonymizer","comments":"","instanceIdentifier":"f9f97f8c-019a-1000-b66d-e1754b81f293"},"destination":{"id":"d7cd5061-6e0a-368b-951c-f89ff8265981","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fcf1d4-019a-1000-7571-14d4b97d0a72"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"a95dce31-36bb-329a-90fb-46ba60e55e76","instanceIdentifier":"fa0999b4-019a-1000-2ac1-55c932be6727","name":"","source":{"id":"4b8b67ae-dd13-36db-92a2-8c338c7003a5","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"ListFile","comments":"","instanceIdentifier":"fa0927a3-019a-1000-5a71-70efe25641dd"},"destination":{"id":"fa337993-b6cf-3f63-b45d-762fb0c8de97","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"fa09311d-019a-1000-f2cc-e9e1484d9d5e"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"114ff43d-673f-39d4-bae9-61976f61027a","instanceIdentifier":"fa1ff994-019a-1000-2125-b2e0ee7c9317","name":"","source":{"id":"26ce5cbf-afeb-393e-aaa1-9a82b2b6da34","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fb3335-019a-1000-7b28-5298f6557768"},"destination":{"id":"fa22fa6c-019a-1000-1267-e2fcc840fb49","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Update filename","comments":"","instanceIdentifier":"3f6ddfee-d8af-3788-b1e9-08f7a6c4f074"},"labelIndex":0,"zIndex":16,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"ac1eddbe-a55d-3573-844e-9f7b6703235e","instanceIdentifier":"fa232195-019a-1000-d185-7cdf06af0cd4","name":"","source":{"id":"fa1fddc4-019a-1000-5fc8-b6a30a787fa3","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PutFile","comments":"","instanceIdentifier":"2282ba27-7e7a-395f-6931-1e3e58d670c8"},"destination":{"id":"fa22fa6d-019a-1000-84ab-50cf335509f6","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"cdfc8b72-aed0-37a6-9498-d1c02f04e3aa"},"labelIndex":0,"zIndex":22,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"f61f7867-366b-333b-a7f7-6ca40d5dfe07","instanceIdentifier":"f9fb76ae-019a-1000-aa21-1371f9bc0c43","name":"","source":{"id":"c65fa809-1b95-350d-bd46-2afb99cde9f4","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PresidioDeanonymizer","comments":"","instanceIdentifier":"f9f9a395-019a-1000-490f-c6d28e09b163"},"destination":{"id":"af10e824-e818-3955-9f62-96053d50c3a9","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fb53dd-019a-1000-6e02-9cb345b74f27"},"labelIndex":0,"zIndex":5,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"9ea90916-4772-3710-8390-d30dae31f4a5","instanceIdentifier":"f9fb1680-019a-1000-4781-f574387133a4","name":"","source":{"id":"832bbc3e-ad83-3f5a-9447-5d6cff271790","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fae2f0-019a-1000-ed1f-0ade153c6ec3"},"destination":{"id":"c65fa809-1b95-350d-bd46-2afb99cde9f4","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PresidioDeanonymizer","comments":"","instanceIdentifier":"f9f9a395-019a-1000-490f-c6d28e09b163"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"de3ef40b-a17f-3e91-813e-e2d254db7ca1","instanceIdentifier":"fa2402ad-019a-1000-708d-4af625703018","name":"","source":{"id":"fa22fa6e-019a-1000-4f0a-3d7144ed9d69","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"a4eb6239-d6e5-3445-56fc-e9afa17418af"},"destination":{"id":"fa1fddc4-019a-1000-5fc8-b6a30a787fa3","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PutFile","comments":"","instanceIdentifier":"2282ba27-7e7a-395f-6931-1e3e58d670c8"},"labelIndex":0,"zIndex":24,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"fa22fa70-019a-1000-690c-11c0ca2a561d","instanceIdentifier":"d942c214-2875-383f-db4b-c1fc11ffaaac","name":"","source":{"id":"fa22fa6c-019a-1000-1267-e2fcc840fb49","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Update filename","comments":"","instanceIdentifier":"3f6ddfee-d8af-3788-b1e9-08f7a6c4f074"},"destination":{"id":"fa22fa6e-019a-1000-4f0a-3d7144ed9d69","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"a4eb6239-d6e5-3445-56fc-e9afa17418af"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"67b1d20a-e64e-3083-a831-a3e436b29628","instanceIdentifier":"fa09c633-019a-1000-94fc-1a641eb367d6","name":"","source":{"id":"fa337993-b6cf-3f63-b45d-762fb0c8de97","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"fa09311d-019a-1000-f2cc-e9e1484d9d5e"},"destination":{"id":"cd36b5eb-37bd-38cd-a5ed-be0040b21c5c","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"FetchFile","comments":"","instanceIdentifier":"fa0a63a5-019a-1000-292a-569f5aeab855"},"labelIndex":0,"zIndex":10,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"e535abe1-10e1-31d4-b06f-881bc66be650","instanceIdentifier":"fa207804-019a-1000-4a61-ed73746a3137","name":"","source":{"id":"617fae92-cecc-3e96-9119-2a1eb01d8657","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PutFile","comments":"","instanceIdentifier":"fa1f33f4-019a-1000-99aa-979ca37dcbf7"},"destination":{"id":"9fdb8407-40f1-33ff-9145-c52fdb594454","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"fa205c1d-019a-1000-41ee-1abc3191e455"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"8ed11e45-58d0-3da7-a8ee-02367eb61444","instanceIdentifier":"fa0aa58a-019a-1000-e60a-327312cac739","name":"","source":{"id":"cd36b5eb-37bd-38cd-a5ed-be0040b21c5c","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"FetchFile","comments":"","instanceIdentifier":"fa0a63a5-019a-1000-292a-569f5aeab855"},"destination":{"id":"3e5058ab-0728-39ba-a0b7-df657e89e618","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9facec9-019a-1000-99b4-0eb69f008324"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"6915abe1-64bb-3003-9e87-b1ec648ea1cc","instanceIdentifier":"fa0af6c9-019a-1000-e94a-830fcafd352f","name":"","source":{"id":"cd36b5eb-37bd-38cd-a5ed-be0040b21c5c","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"FetchFile","comments":"","instanceIdentifier":"fa0a63a5-019a-1000-292a-569f5aeab855"},"destination":{"id":"54db2abf-f554-3817-9706-cd73cb6ba66d","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"fa0a130e-019a-1000-a418-c3228cb58f89"},"labelIndex":0,"zIndex":13,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"8bd1a3b5-f84b-3b9f-8aed-64a02ecbdd1c","instanceIdentifier":"fa20362c-019a-1000-1f47-9919dd3a091a","name":"","source":{"id":"d7cd5061-6e0a-368b-951c-f89ff8265981","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fcf1d4-019a-1000-7571-14d4b97d0a72"},"destination":{"id":"21d3d013-2290-3623-802e-6f5b36ae22f0","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Update filename","comments":"","instanceIdentifier":"fa214096-019a-1000-f464-22fc3e3ab1ac"},"labelIndex":0,"zIndex":17,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"4c4afc8b-3725-33c8-8260-98c0c7f755ab","instanceIdentifier":"f9fb6666-019a-1000-1e6d-c29581695aff","name":"","source":{"id":"c65fa809-1b95-350d-bd46-2afb99cde9f4","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PresidioDeanonymizer","comments":"","instanceIdentifier":"f9f9a395-019a-1000-490f-c6d28e09b163"},"destination":{"id":"edb40430-b444-3182-a4b0-78cee0b3dd6a","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fb4b38-019a-1000-4663-337053422912"},"labelIndex":0,"zIndex":4,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"25900c49-f8aa-3e9e-94b5-08e7065ac7af","instanceIdentifier":"fa2343e3-019a-1000-359d-12acb3650dc9","name":"","source":{"id":"fa1fddc4-019a-1000-5fc8-b6a30a787fa3","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PutFile","comments":"","instanceIdentifier":"2282ba27-7e7a-395f-6931-1e3e58d670c8"},"destination":{"id":"6e5bebdb-9ca8-3628-8894-e05c2fcb3517","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"fa23304b-019a-1000-ecbf-7b35e5ee06f0"},"labelIndex":0,"zIndex":23,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"0e6eae39-89b7-3646-8c0e-db368a6f8d01","instanceIdentifier":"f9fd2969-019a-1000-66d6-0c285639305b","name":"","source":{"id":"1be6cf56-1b30-3718-9d0d-408aec9dd812","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PresidioAnonymizer","comments":"","instanceIdentifier":"f9f97f8c-019a-1000-b66d-e1754b81f293"},"destination":{"id":"99a329f6-eb8f-3f0d-bc6d-6c242a4ce99e","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fd0f46-019a-1000-fc9d-672b78f30838"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"d315c653-85b6-3b3a-b4d5-14a355a0af53","instanceIdentifier":"fa204f8d-019a-1000-0e87-9cfedc06c915","name":"","source":{"id":"617fae92-cecc-3e96-9119-2a1eb01d8657","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PutFile","comments":"","instanceIdentifier":"fa1f33f4-019a-1000-99aa-979ca37dcbf7"},"destination":{"id":"832bbc3e-ad83-3f5a-9447-5d6cff271790","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9fae2f0-019a-1000-ed1f-0ade153c6ec3"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"8f380ceb-525e-3e4b-8472-db1d012c698b","instanceIdentifier":"f9fad9c6-019a-1000-b5f5-71c812c2fcab","name":"","source":{"id":"3e5058ab-0728-39ba-a0b7-df657e89e618","type":"FUNNEL","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"Funnel","comments":"","instanceIdentifier":"f9facec9-019a-1000-99b4-0eb69f008324"},"destination":{"id":"1be6cf56-1b30-3718-9d0d-408aec9dd812","type":"PROCESSOR","groupId":"d6477d8e-160a-39ca-abcf-0bb63d6ade86","name":"PresidioAnonymizer","comments":"","instanceIdentifier":"f9f97f8c-019a-1000-b66d-e1754b81f293"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"}],"labels":[],"funnels":[{"identifier":"e4063aa4-b58d-313d-8076-3b1b97dcdc7b","instanceIdentifier":"f9fd1948-019a-1000-c599-ab365e50b81a","position":{"x":-920.0,"y":-608.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"832bbc3e-ad83-3f5a-9447-5d6cff271790","instanceIdentifier":"f9fae2f0-019a-1000-ed1f-0ade153c6ec3","position":{"x":-360.0,"y":112.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"9fdb8407-40f1-33ff-9145-c52fdb594454","instanceIdentifier":"fa205c1d-019a-1000-41ee-1abc3191e455","position":{"x":-928.0,"y":-32.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"6330609d-0452-340e-8db8-37bc047437f2","instanceIdentifier":"fa0a0bd8-019a-1000-a2ad-d9ef7e8e1a33","position":{"x":-928.0,"y":-1072.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"8108a603-30d3-33a8-acaa-fd3dd3057eec","instanceIdentifier":"fa21873d-019a-1000-8b20-1ec35cd10b95","position":{"x":-360.0,"y":-192.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"6e5bebdb-9ca8-3628-8894-e05c2fcb3517","instanceIdentifier":"fa23304b-019a-1000-ecbf-7b35e5ee06f0","position":{"x":-920.0,"y":944.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"fa22fa6d-019a-1000-84ab-50cf335509f6","instanceIdentifier":"cdfc8b72-aed0-37a6-9498-d1c02f04e3aa","position":{"x":-360.0,"y":1144.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"fa22fa6e-019a-1000-4f0a-3d7144ed9d69","instanceIdentifier":"a4eb6239-d6e5-3445-56fc-e9afa17418af","position":{"x":-360.0,"y":776.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"26ce5cbf-afeb-393e-aaa1-9a82b2b6da34","instanceIdentifier":"f9fb3335-019a-1000-7b28-5298f6557768","position":{"x":-360.0,"y":432.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"fa337993-b6cf-3f63-b45d-762fb0c8de97","instanceIdentifier":"fa09311d-019a-1000-f2cc-e9e1484d9d5e","position":{"x":-360.0,"y":-1208.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"99a329f6-eb8f-3f0d-bc6d-6c242a4ce99e","instanceIdentifier":"f9fd0f46-019a-1000-fc9d-672b78f30838","position":{"x":-920.0,"y":-744.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"d7cd5061-6e0a-368b-951c-f89ff8265981","instanceIdentifier":"f9fcf1d4-019a-1000-7571-14d4b97d0a72","position":{"x":-360.0,"y":-496.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"edb40430-b444-3182-a4b0-78cee0b3dd6a","instanceIdentifier":"f9fb4b38-019a-1000-4663-337053422912","position":{"x":-928.0,"y":200.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"54db2abf-f554-3817-9706-cd73cb6ba66d","instanceIdentifier":"fa0a130e-019a-1000-a418-c3228cb58f89","position":{"x":-928.0,"y":-1168.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"3e5058ab-0728-39ba-a0b7-df657e89e618","instanceIdentifier":"f9facec9-019a-1000-99b4-0eb69f008324","position":{"x":-360.0,"y":-864.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"fa0ada91-019a-1000-2b11-40412286d42d","instanceIdentifier":"f23e6b26-424b-3a35-0fbd-a0e9296934f1","position":{"x":-928.0,"y":-992.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"},{"identifier":"af10e824-e818-3955-9f62-96053d50c3a9","instanceIdentifier":"f9fb53dd-019a-1000-6e02-9cb345b74f27","position":{"x":-928.0,"y":344.0},"componentType":"FUNNEL","groupIdentifier":"d6477d8e-160a-39ca-abcf-0bb63d6ade86"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}