flow_definitions/RouteOnJSONMap/RouteOnJSONMap.json
{"flowContents":{"identifier":"38e3b977-0dc8-397b-907b-8afb33948549","instanceIdentifier":"5fca81ae-019b-1000-90f6-71b43104ab86","name":"RouteOnJSONMap","comments":"","position":{"x":240.0,"y":-560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8e4bce81-c8ba-3ee2-9a20-dd8c98880c74","instanceIdentifier":"5f96eb01-019b-1000-8636-1c9b0e9b9e7a","name":"GenerateFlowFile","comments":"","position":{"x":768.0,"y":-720.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"File Size":"0B","http.uri":"/wait","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":null,"Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"http.uri":{"name":"http.uri","displayName":"http.uri","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"7a85f8a0-6330-3a0a-9889-a117a11b12d8","instanceIdentifier":"607ec745-019b-1000-7fa2-f64f8fd0ba92","name":"RouteOnJSONMap","comments":"","position":{"x":768.0,"y":-336.0},"type":"com.example.nifi.processors.RouteOnJSONMap","bundle":{"group":"com.example.nifi","artifact":"nifi-route-on-json-map","version":"1.0-SNAPSHOT"},"properties":{"JSON Map":"{\n\t\"route_1\": \"${http.uri:equals(\"/start\")}\",\n\t\"route_2\": \"${http.uri:equals(\"/continue\")}\",\n\t\"route_3\": \"${http.uri:equals(\"/end\")}\",\n\t\"route_always\": \"false\"\n}","JSON Map File":null},"propertyDescriptors":{"JSON Map":{"name":"JSON Map","displayName":"JSON Map","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Map File":{"name":"JSON Map File","displayName":"JSON Map File","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7e2bcbb0-d9b7-3c48-9716-827a298ada78","instanceIdentifier":"607f02c1-019b-1000-43a5-1838fd0e6b5b","name":"","source":{"id":"f7ee8fef-aaa9-39cc-8d71-d5d1cf41856d","type":"FUNNEL","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"Funnel","comments":"","instanceIdentifier":"5f7098ae-019b-1000-c89a-34490c542309"},"destination":{"id":"7a85f8a0-6330-3a0a-9889-a117a11b12d8","type":"PROCESSOR","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"RouteOnJSONMap","comments":"","instanceIdentifier":"607ec745-019b-1000-7fa2-f64f8fd0ba92"},"labelIndex":0,"zIndex":11,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"6f07fec8-0439-3a6d-932c-b335b91a1c16","instanceIdentifier":"60c0a127-019b-1000-f0ee-1b72d53a1eb5","name":"","source":{"id":"7a85f8a0-6330-3a0a-9889-a117a11b12d8","type":"PROCESSOR","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"RouteOnJSONMap","comments":"","instanceIdentifier":"607ec745-019b-1000-7fa2-f64f8fd0ba92"},"destination":{"id":"351528a7-a297-3c82-b0c9-e7d64af6ec8d","type":"FUNNEL","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"Funnel","comments":"","instanceIdentifier":"5f90f924-019b-1000-b197-0fbc1952cde0"},"labelIndex":0,"zIndex":14,"selectedRelationships":["route_3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"0438b7bc-1a5f-3b6c-99b1-cb24e6acb281","instanceIdentifier":"5f9703cc-019b-1000-4df4-d7d8a82ee959","name":"","source":{"id":"8e4bce81-c8ba-3ee2-9a20-dd8c98880c74","type":"PROCESSOR","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"GenerateFlowFile","comments":"","instanceIdentifier":"5f96eb01-019b-1000-8636-1c9b0e9b9e7a"},"destination":{"id":"f7ee8fef-aaa9-39cc-8d71-d5d1cf41856d","type":"FUNNEL","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"Funnel","comments":"","instanceIdentifier":"5f7098ae-019b-1000-c89a-34490c542309"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"fd115b4d-6c2a-3280-9c5b-0d634afffc9e","instanceIdentifier":"607ef91a-019b-1000-0bf2-ec28d84803e2","name":"","source":{"id":"7a85f8a0-6330-3a0a-9889-a117a11b12d8","type":"PROCESSOR","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"RouteOnJSONMap","comments":"","instanceIdentifier":"607ec745-019b-1000-7fa2-f64f8fd0ba92"},"destination":{"id":"58965260-d7e3-38df-80ab-de9b6d72c333","type":"FUNNEL","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"Funnel","comments":"","instanceIdentifier":"5f910b38-019b-1000-3441-f13609321a29"},"labelIndex":0,"zIndex":10,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"006ae11f-126f-344a-9466-f017863fa1a2","instanceIdentifier":"60c0b61f-019b-1000-c899-e24c9e261bd7","name":"","source":{"id":"7a85f8a0-6330-3a0a-9889-a117a11b12d8","type":"PROCESSOR","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"RouteOnJSONMap","comments":"","instanceIdentifier":"607ec745-019b-1000-7fa2-f64f8fd0ba92"},"destination":{"id":"798ca164-1487-3dce-b251-7dfaab7d0f80","type":"FUNNEL","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"Funnel","comments":"","instanceIdentifier":"5f95ac56-019b-1000-9c36-5ba5954ada78"},"labelIndex":0,"zIndex":15,"selectedRelationships":["route_always"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"0857c2a8-716d-3d4c-b7e0-f904b8bc59e0","instanceIdentifier":"60c09125-019b-1000-c37d-6324b822aaa5","name":"","source":{"id":"7a85f8a0-6330-3a0a-9889-a117a11b12d8","type":"PROCESSOR","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"RouteOnJSONMap","comments":"","instanceIdentifier":"607ec745-019b-1000-7fa2-f64f8fd0ba92"},"destination":{"id":"af39f39b-01bf-3c03-9ba7-0bbba8232e36","type":"FUNNEL","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"Funnel","comments":"","instanceIdentifier":"5f90f0c4-019b-1000-0a39-c8875135ea40"},"labelIndex":0,"zIndex":13,"selectedRelationships":["route_2"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"3a936d15-ab28-3f5a-9ca6-b218ed098461","instanceIdentifier":"60c083d5-019b-1000-c5ac-28aac614a4a3","name":"","source":{"id":"7a85f8a0-6330-3a0a-9889-a117a11b12d8","type":"PROCESSOR","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"RouteOnJSONMap","comments":"","instanceIdentifier":"607ec745-019b-1000-7fa2-f64f8fd0ba92"},"destination":{"id":"1cb33439-a749-32e7-8deb-c41373d6290e","type":"FUNNEL","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"Funnel","comments":"","instanceIdentifier":"5f91048a-019b-1000-ef35-38fb6f303d62"},"labelIndex":0,"zIndex":12,"selectedRelationships":["route_1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"ad257ab7-b6c9-35e5-a4c5-b407da7dbb4a","instanceIdentifier":"607eea2a-019b-1000-4a08-3935ffdf56bd","name":"","source":{"id":"7a85f8a0-6330-3a0a-9889-a117a11b12d8","type":"PROCESSOR","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"RouteOnJSONMap","comments":"","instanceIdentifier":"607ec745-019b-1000-7fa2-f64f8fd0ba92"},"destination":{"id":"367c22f5-7949-37d5-b0d9-b754f19114ec","type":"FUNNEL","groupId":"38e3b977-0dc8-397b-907b-8afb33948549","name":"Funnel","comments":"","instanceIdentifier":"5f911301-019b-1000-8dcb-2576d05abcb7"},"labelIndex":0,"zIndex":9,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"}],"labels":[],"funnels":[{"identifier":"367c22f5-7949-37d5-b0d9-b754f19114ec","instanceIdentifier":"5f911301-019b-1000-8dcb-2576d05abcb7","position":{"x":272.0,"y":-368.0},"componentType":"FUNNEL","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"351528a7-a297-3c82-b0c9-e7d64af6ec8d","instanceIdentifier":"5f90f924-019b-1000-b197-0fbc1952cde0","position":{"x":1136.0,"y":104.0},"componentType":"FUNNEL","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"58965260-d7e3-38df-80ab-de9b6d72c333","instanceIdentifier":"5f910b38-019b-1000-3441-f13609321a29","position":{"x":272.0,"y":-216.0},"componentType":"FUNNEL","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"f7ee8fef-aaa9-39cc-8d71-d5d1cf41856d","instanceIdentifier":"5f7098ae-019b-1000-c89a-34490c542309","position":{"x":920.0,"y":-488.0},"componentType":"FUNNEL","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"af39f39b-01bf-3c03-9ba7-0bbba8232e36","instanceIdentifier":"5f90f0c4-019b-1000-0a39-c8875135ea40","position":{"x":712.0,"y":104.0},"componentType":"FUNNEL","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"798ca164-1487-3dce-b251-7dfaab7d0f80","instanceIdentifier":"5f95ac56-019b-1000-9c36-5ba5954ada78","position":{"x":1632.0,"y":104.0},"componentType":"FUNNEL","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"},{"identifier":"1cb33439-a749-32e7-8deb-c41373d6290e","instanceIdentifier":"5f91048a-019b-1000-ef35-38fb6f303d62","position":{"x":280.0,"y":104.0},"componentType":"FUNNEL","groupIdentifier":"38e3b977-0dc8-397b-907b-8afb33948549"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}