flow_definitions/Agentic_Workflow_for_Video_Analysis/Agentic_Workflow_for_Video_Analysis.json
{"flowContents":{"identifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078","instanceIdentifier":"b849f81f-019a-1000-0890-a0a9fa3ecc66","name":"Agentic_Workflow_for_Video_Analysis (2)","comments":"","position":{"x":-478.5,"y":-194.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"79ab1a85-dc83-35f1-8402-8af2082dd8f3","instanceIdentifier":"295f2058-74b8-3106-37c0-4b77e896f94f","name":"AttributesFromJSON","comments":"","position":{"x":-408.0,"y":1072.0},"type":"AttributesFromJSON","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"JSON Source":"FlowFile Content","JSON File Path":null,"JSON Text":null},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON File Path":{"name":"JSON File Path","displayName":"JSON File Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Text":{"name":"JSON Text","displayName":"JSON Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b9009a78-504b-391c-9a75-125f94249496","instanceIdentifier":"b862a2eb-5811-3b49-3d0c-09076e51c2dc","name":"AnalyzeVideoFrames","comments":"","position":{"x":-408.0,"y":1840.0},"type":"AnalyzeVideoFrames","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Max Frames":"10","Analysis Prompt":"Describe the events, objects, and actions in this video segment in detail.","Frame Interval":"30","Video File Path":"${absolute_path}"},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Max Frames":{"name":"Max Frames","displayName":"Max Frames","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Analysis Prompt":{"name":"Analysis Prompt","displayName":"Analysis Prompt","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Frame Interval":{"name":"Frame Interval","displayName":"Frame Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Video File Path":{"name":"Video File Path","displayName":"Video File Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"e72b4f49-fb6f-3ca8-bd3c-0f174ba31d20","instanceIdentifier":"266210a4-1e1f-369e-b737-0a8cb9122f80","name":"ExtractAudioFromVideo","comments":"","position":{"x":-408.0,"y":2640.0},"type":"ExtractAudioFromVideo","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Video File Path":"${absolute_path}"},"propertyDescriptors":{"Video File Path":{"name":"Video File Path","displayName":"Video File Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"01f18fca-d95d-3f2c-8897-dac44b9a1718","instanceIdentifier":"bcd63117-019a-1000-dc67-834df244947f","name":"GenerateEmbedding","comments":"","position":{"x":-408.0,"y":3952.0},"type":"GenerateEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Input Text":"Visuals: ${VideoFrameAnalysisContent.0}. Audio: ${AudioTranscriptionContent.0} ","Embedding Model":"text-embedding-3-small","Output Attribute":"embedding_vector_json"},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Input Text":{"name":"Input Text","displayName":"Input Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Embedding Model":{"name":"Embedding Model","displayName":"Embedding Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Attribute":{"name":"Output Attribute","displayName":"Output Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b8728db3-019a-1000-de02-dc6b110d980a","instanceIdentifier":"e4fc2140-a05d-3fdb-0cf1-28ec179a0daf","name":"Extract AudioTranscriptionContent","comments":"","position":{"x":-408.0,"y":3520.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","AudioTranscriptionContent":".*","Enable DOTALL Mode":"true","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"10240000","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AudioTranscriptionContent":{"name":"AudioTranscriptionContent","displayName":"AudioTranscriptionContent","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"fb53b0b5-22cc-37fb-89e6-450b3aadfc96","instanceIdentifier":"8956d120-3648-3b8d-28ad-e868ed0f1ddf","name":"GetYouTubeVideo","comments":"","position":{"x":-408.0,"y":-144.0},"type":"GetYouTubeVideo","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"YouTube URL":"${yt_url}"},"propertyDescriptors":{"YouTube URL":{"name":"YouTube URL","displayName":"YouTube URL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"10545db6-7e1b-3167-b627-de928ebce94e","instanceIdentifier":"7c2e3939-6178-3991-28a2-98b79cb892cd","name":"SplitJson","comments":"","position":{"x":-408.0,"y":720.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"5c298a2e-6390-32c3-85d1-06808edd0a16","instanceIdentifier":"bcf3b7ce-019a-1000-4c37-13989779f693","name":"InvokeHTTP","comments":"","position":{"x":-408.0,"y":4976.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer [secret goes here]","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://rest.webdb.dilcher.devel.pm:443/video_analysis_chunks","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"7c750414-9910-3116-be10-aac68be7156b","instanceIdentifier":"b86bdd39-019a-1000-6992-118e1c62c85f","name":"Extract VideoFrameAnalysisContent","comments":"","position":{"x":-408.0,"y":2224.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"true","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"10240000","Enable Literal Parsing of the Pattern":"false","VideoFrameAnalysisContent":".*","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VideoFrameAnalysisContent":{"name":"VideoFrameAnalysisContent","displayName":"VideoFrameAnalysisContent","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"d5b74741-7562-3e1a-8b48-67a95b59a85a","instanceIdentifier":"b8635f18-019a-1000-b105-29ee6cb670b7","name":"TranscribeAudio","comments":"","position":{"x":-408.0,"y":3056.0},"type":"TranscribeAudio","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Language":null,"Prompt":null},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Language":{"name":"Language","displayName":"Language","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prompt":{"name":"Prompt","displayName":"Prompt","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"8dc82487-04ef-3b5e-9bbb-8a4ab5e6a104","instanceIdentifier":"f893b4ad-9728-37ea-c80e-1391691cd375","name":"GenerateFlowFile","comments":"","position":{"x":-408.0,"y":-512.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"character-set":"UTF-8","yt_url":"https://www.youtube.com/watch?v=6yqoPQZC9hk","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"yt_url":{"name":"yt_url","displayName":"yt_url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"9d2862c4-763b-390d-a6b2-998fa3be7d72","instanceIdentifier":"bce33a03-019a-1000-501f-8c3ee8372379","name":"ReplaceText","comments":"","position":{"x":-408.0,"y":4368.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{                     \n\"video_job_id\": \"${video.job.id}\",\n\"video_title\": \"${youtube.title}\",\n\"video_uploader\": \"${youtube.uploader}\",\n\"video_url\": \"${yt_url}\",\n\"chunk_index\": ${chunk_index},\n\"chunk_total\": ${chunk_total},\n\"start_time\": ${chunk_start_time},\n\"duration\": ${chunk_duration},\n\"filename\": \"${filename}\",\n\"absolute_path\": \"${absolute_path}\",\n\"visual_description\": \"${VideoFrameAnalysisContent.0:escapeJson():escapeJson()}\",\n\"audio_transcription\": \"${AudioTranscriptionContent.0:escapeJson()}\",\n\"embedding\": \"${embedding_vector_json}\"\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"10 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b3054d32-c288-3d26-8676-a3292e357a3a","instanceIdentifier":"011aa6fa-da8d-38d7-f5d9-289439ba4bbf","name":"ChunkVideo","comments":"","position":{"x":-408.0,"y":336.0},"type":"ChunkVideo","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Temporary Directory":"/files/nifi-video-chunks","Chunk Duration (seconds)":"60","Overlap Duration (seconds)":"10"},"propertyDescriptors":{"Temporary Directory":{"name":"Temporary Directory","displayName":"Temporary Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Duration (seconds)":{"name":"Chunk Duration (seconds)","displayName":"Chunk Duration (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Overlap Duration (seconds)":{"name":"Overlap Duration (seconds)","displayName":"Overlap Duration (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"05251680-e30e-37da-a472-1a6629c6f069","instanceIdentifier":"bcd66b20-019a-1000-5dd5-d84f43359521","name":"","source":{"id":"b8728db5-019a-1000-a57e-85ca24877149","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"71dc875e-f976-3b54-2362-0f4f3063304e"},"destination":{"id":"01f18fca-d95d-3f2c-8897-dac44b9a1718","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GenerateEmbedding","comments":"","instanceIdentifier":"bcd63117-019a-1000-dc67-834df244947f"},"labelIndex":0,"zIndex":40,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"2fb16251-2c69-37f1-b498-c2404cfff70b","instanceIdentifier":"cd379d02-b8e8-3124-7583-8674c9c742ea","name":"","source":{"id":"8dc82487-04ef-3b5e-9bbb-8a4ab5e6a104","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GenerateFlowFile","comments":"","instanceIdentifier":"f893b4ad-9728-37ea-c80e-1391691cd375"},"destination":{"id":"b8ab9a27-d859-3cc2-9047-3bcb9613b801","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"e3671674-5a76-37bb-61b9-a22642a87a2a"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"6126a7e7-c657-3b1d-873f-31b551fa88f1","instanceIdentifier":"56bdc3a4-70ad-35d3-4504-0a1539a78de9","name":"","source":{"id":"b9009a78-504b-391c-9a75-125f94249496","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"AnalyzeVideoFrames","comments":"","instanceIdentifier":"b862a2eb-5811-3b49-3d0c-09076e51c2dc"},"destination":{"id":"b82f002f-019a-1000-d7e7-a397b16d08e9","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"667a36c0-1ced-3623-baa8-0a9fb5583d3a"},"labelIndex":0,"zIndex":12,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"4f83c1cd-9de7-3dc3-8bd6-95bc854390d3","instanceIdentifier":"792c0766-cd9f-373f-b1f4-b35b82f3a4dd","name":"","source":{"id":"fb53b0b5-22cc-37fb-89e6-450b3aadfc96","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GetYouTubeVideo","comments":"","instanceIdentifier":"8956d120-3648-3b8d-28ad-e868ed0f1ddf"},"destination":{"id":"79c6f2ce-298b-34e8-9e94-e521b7d53a01","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"65662141-ff00-3221-e2e8-3895f941007e"},"labelIndex":0,"zIndex":16,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b01bde43-5b9f-3ba9-bb6a-d4f709076094","instanceIdentifier":"bcd9034b-019a-1000-4c21-3a1c4fd132de","name":"","source":{"id":"01f18fca-d95d-3f2c-8897-dac44b9a1718","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GenerateEmbedding","comments":"","instanceIdentifier":"bcd63117-019a-1000-dc67-834df244947f"},"destination":{"id":"80f16380-90f3-3dca-b053-d9570bf0c352","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bcd6575b-019a-1000-03c2-dcb58d1b1095"},"labelIndex":0,"zIndex":41,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"f2da09b7-1751-3f79-a98c-0869c7902c87","instanceIdentifier":"c093587c-5b27-3795-9c24-e919a2af09ba","name":"","source":{"id":"fb53b0b5-22cc-37fb-89e6-450b3aadfc96","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GetYouTubeVideo","comments":"","instanceIdentifier":"8956d120-3648-3b8d-28ad-e868ed0f1ddf"},"destination":{"id":"e7694061-5c4f-314f-b735-1c017661fc2c","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"29d3e37d-8b4c-3b6a-8480-ceb0084614d3"},"labelIndex":0,"zIndex":17,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"e51dba31-2ff7-3864-9308-c92710c5f77a","instanceIdentifier":"bcf5259b-019a-1000-0111-cd945a8773f4","name":"","source":{"id":"5c298a2e-6390-32c3-85d1-06808edd0a16","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"InvokeHTTP","comments":"","instanceIdentifier":"bcf3b7ce-019a-1000-4c37-13989779f693"},"destination":{"id":"002c4452-9eba-3ef2-b11c-76c046cb0902","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bcf4e293-019a-1000-dd03-82927f10b70f"},"labelIndex":0,"zIndex":50,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"412f95f7-4657-3c68-8697-20ea10a7c1ac","instanceIdentifier":"141af946-f842-32ab-08ed-0e865e6d7ab3","name":"","source":{"id":"e72b4f49-fb6f-3ca8-bd3c-0f174ba31d20","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ExtractAudioFromVideo","comments":"","instanceIdentifier":"266210a4-1e1f-369e-b737-0a8cb9122f80"},"destination":{"id":"9895aafa-f1a7-38ff-af1c-a6d4d19803e9","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"ad0ba63c-28e5-3c6b-7a5b-8a26989311d0"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"d00bc4c3-ba00-3989-8922-c8441055c13f","instanceIdentifier":"aa49a543-2969-3b87-91cc-f2ee1fc39a51","name":"","source":{"id":"fc4cced2-3f64-30da-b879-27b12016655f","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"a3a1d2ba-b04a-3c9a-bb17-51babf0ace44"},"destination":{"id":"79ab1a85-dc83-35f1-8402-8af2082dd8f3","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"AttributesFromJSON","comments":"","instanceIdentifier":"295f2058-74b8-3106-37c0-4b77e896f94f"},"labelIndex":0,"zIndex":21,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"40bd06f2-2923-3947-b8b3-80a11761092e","instanceIdentifier":"b86394e2-019a-1000-8b17-3373b27f70da","name":"","source":{"id":"d5b74741-7562-3e1a-8b48-67a95b59a85a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"TranscribeAudio","comments":"","instanceIdentifier":"b8635f18-019a-1000-b105-29ee6cb670b7"},"destination":{"id":"66b18c5f-7caa-38ca-a8e4-765117372690","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"b86382fc-019a-1000-15df-8a2219056ba7"},"labelIndex":0,"zIndex":32,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"10c425dc-0a57-3f39-8c52-251eee6586fb","instanceIdentifier":"ad36dc59-2c0e-3c37-a03a-d9cd5b8a1abe","name":"","source":{"id":"b9009a78-504b-391c-9a75-125f94249496","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"AnalyzeVideoFrames","comments":"","instanceIdentifier":"b862a2eb-5811-3b49-3d0c-09076e51c2dc"},"destination":{"id":"b82f002e-019a-1000-e32c-c7a9ce1d86b0","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"72fc756b-7cf1-39e3-ecdb-f471b81617a0"},"labelIndex":0,"zIndex":13,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"eab07b08-978d-380b-ae5d-688bbb146f1e","instanceIdentifier":"a8e15394-8068-3862-bce8-e57a6d23ae24","name":"","source":{"id":"509be3ab-bab4-3f32-82a7-2ccb8b1d240b","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"8940e5d7-40a8-360a-9ec3-4c2e334cddf3"},"destination":{"id":"10545db6-7e1b-3167-b627-de928ebce94e","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"SplitJson","comments":"","instanceIdentifier":"7c2e3939-6178-3991-28a2-98b79cb892cd"},"labelIndex":0,"zIndex":6,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"2693b917-66ef-3fe4-8c50-e14f42621333","instanceIdentifier":"c2438200-adc3-3167-adfc-0b33cb4cb159","name":"","source":{"id":"b9009a78-504b-391c-9a75-125f94249496","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"AnalyzeVideoFrames","comments":"","instanceIdentifier":"b862a2eb-5811-3b49-3d0c-09076e51c2dc"},"destination":{"id":"e6ef2d15-4e1f-3c9c-9c70-1c37641ebe00","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"969386d0-1b76-32d1-4d19-3f6b6cb6adba"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"933f6bdc-a3fd-3c32-af7f-a9be4c542117","instanceIdentifier":"b863c9e2-019a-1000-371b-3511693cfdc1","name":"","source":{"id":"d5b74741-7562-3e1a-8b48-67a95b59a85a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"TranscribeAudio","comments":"","instanceIdentifier":"b8635f18-019a-1000-b105-29ee6cb670b7"},"destination":{"id":"b863a087-019a-1000-2e30-fb1a57983ec7","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"889bc5af-eac3-3cfe-16a0-5db0480bd99a"},"labelIndex":0,"zIndex":34,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b8728db9-019a-1000-33fc-a0806dd5556e","instanceIdentifier":"0544dce0-31dd-3486-237d-bf8e02741385","name":"","source":{"id":"b8728db3-019a-1000-de02-dc6b110d980a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Extract AudioTranscriptionContent","comments":"","instanceIdentifier":"e4fc2140-a05d-3fdb-0cf1-28ec179a0daf"},"destination":{"id":"b8728db6-019a-1000-0669-50383b893cc0","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"721ea411-c711-3191-2b9d-c8cfedc1b022"},"labelIndex":0,"zIndex":37,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"1221ef24-e524-3e41-8c3d-626c1e335f89","instanceIdentifier":"847c9034-64ba-30b6-1f46-e6b9ac6d7765","name":"","source":{"id":"10545db6-7e1b-3167-b627-de928ebce94e","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"SplitJson","comments":"","instanceIdentifier":"7c2e3939-6178-3991-28a2-98b79cb892cd"},"destination":{"id":"8e94538e-d4d1-32f8-ae2b-606cd27cba5f","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"a04242ad-3083-3c5f-4457-642551b53e8f"},"labelIndex":0,"zIndex":20,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"51e8bb1d-f25a-3450-a515-726c216d4cd5","instanceIdentifier":"1972d479-2be0-3317-b4df-b25798ba31ab","name":"","source":{"id":"e72b4f49-fb6f-3ca8-bd3c-0f174ba31d20","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ExtractAudioFromVideo","comments":"","instanceIdentifier":"266210a4-1e1f-369e-b737-0a8cb9122f80"},"destination":{"id":"b82f4185-019a-1000-67f8-e5cf25016f79","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"4962c5bf-fd25-38b4-308e-31055acb25b2"},"labelIndex":0,"zIndex":11,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"9cefee02-e947-3caf-a1ba-f90f364bd6d1","instanceIdentifier":"b86e0c1f-019a-1000-050a-5fdf9d4e49ac","name":"","source":{"id":"7c750414-9910-3116-be10-aac68be7156b","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Extract VideoFrameAnalysisContent","comments":"","instanceIdentifier":"b86bdd39-019a-1000-6992-118e1c62c85f"},"destination":{"id":"f40aa3ba-6eb2-3911-960f-d04960b8315d","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"b86ded72-019a-1000-4162-1c1846a689c6"},"labelIndex":0,"zIndex":37,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"fb28fecd-35fe-3bfb-9682-f44ba87112cb","instanceIdentifier":"bce5f1e2-019a-1000-c87e-6ee085dadf2b","name":"","source":{"id":"9d2862c4-763b-390d-a6b2-998fa3be7d72","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ReplaceText","comments":"","instanceIdentifier":"bce33a03-019a-1000-501f-8c3ee8372379"},"destination":{"id":"8cdd4c3c-c843-3d8a-b7ec-6914be1c322b","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bce5de2d-019a-1000-1f7e-73eb75e5c014"},"labelIndex":0,"zIndex":45,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"0a41595f-1fe7-3e88-abbf-03ce5d6d1756","instanceIdentifier":"bcd9205c-019a-1000-171a-401e1f18a72b","name":"","source":{"id":"01f18fca-d95d-3f2c-8897-dac44b9a1718","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GenerateEmbedding","comments":"","instanceIdentifier":"bcd63117-019a-1000-dc67-834df244947f"},"destination":{"id":"81c0ed3e-38ed-39a8-ad2a-c34c822d5dda","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bcd67f16-019a-1000-43fc-432d62338d4e"},"labelIndex":0,"zIndex":43,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"1e358ef3-93ac-3a0c-a41d-b363cac0d1dc","instanceIdentifier":"bcf5401c-019a-1000-c36a-2b5a81a8a20a","name":"","source":{"id":"5c298a2e-6390-32c3-85d1-06808edd0a16","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"InvokeHTTP","comments":"","instanceIdentifier":"bcf3b7ce-019a-1000-4c37-13989779f693"},"destination":{"id":"7fd5896e-93bc-34d0-98bf-07180f600c6c","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bcf50583-019a-1000-a0f0-4c935f455d24"},"labelIndex":0,"zIndex":52,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"2978c7e1-70e1-3c7d-9086-6a7e433f011e","instanceIdentifier":"a5d97e3f-56a8-3182-0e2e-e170582954e3","name":"","source":{"id":"e72b4f49-fb6f-3ca8-bd3c-0f174ba31d20","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ExtractAudioFromVideo","comments":"","instanceIdentifier":"266210a4-1e1f-369e-b737-0a8cb9122f80"},"destination":{"id":"b82f4184-019a-1000-62c0-d2c130d5009c","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"204baac3-6cec-3364-825a-93e9feaf52fe"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"843f79cb-4e22-3d6c-9b61-3a6c05bb4442","instanceIdentifier":"bcf532f5-019a-1000-b12e-6ea235e72aa9","name":"","source":{"id":"5c298a2e-6390-32c3-85d1-06808edd0a16","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"InvokeHTTP","comments":"","instanceIdentifier":"bcf3b7ce-019a-1000-4c37-13989779f693"},"destination":{"id":"7336b695-01d1-36fc-be91-a47bbd512597","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bcf4d80f-019a-1000-709c-8f7ffb2f64fc"},"labelIndex":0,"zIndex":51,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"9e15c98d-acb5-3ee2-89b2-a07670a18c1b","instanceIdentifier":"eb246f6b-c380-3ff3-f85c-68d0e96faf14","name":"","source":{"id":"10545db6-7e1b-3167-b627-de928ebce94e","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"SplitJson","comments":"","instanceIdentifier":"7c2e3939-6178-3991-28a2-98b79cb892cd"},"destination":{"id":"2b9b694f-df87-379b-b8b8-8331cab28e52","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bf41a244-13a6-349b-23c4-5077bca714c7"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"5251a2f0-43ad-37cb-a6bf-2283e39162f1","instanceIdentifier":"137c5a16-4cba-3d74-8e94-b7e445b8f4d6","name":"","source":{"id":"e6ef2d15-4e1f-3c9c-9c70-1c37641ebe00","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"969386d0-1b76-32d1-4d19-3f6b6cb6adba"},"destination":{"id":"7c750414-9910-3116-be10-aac68be7156b","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Extract VideoFrameAnalysisContent","comments":"","instanceIdentifier":"b86bdd39-019a-1000-6992-118e1c62c85f"},"labelIndex":0,"zIndex":8,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"c539cbe4-f92d-3aca-891b-8e0df0577207","instanceIdentifier":"b872c1f3-019a-1000-2609-1bf56ffe2f5c","name":"","source":{"id":"66b18c5f-7caa-38ca-a8e4-765117372690","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"b86382fc-019a-1000-15df-8a2219056ba7"},"destination":{"id":"b8728db3-019a-1000-de02-dc6b110d980a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Extract AudioTranscriptionContent","comments":"","instanceIdentifier":"e4fc2140-a05d-3fdb-0cf1-28ec179a0daf"},"labelIndex":0,"zIndex":39,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"9a076dc2-ba58-3d89-b1ec-b3d1e423c112","instanceIdentifier":"bcf5181f-019a-1000-da91-80756e1abf75","name":"","source":{"id":"5c298a2e-6390-32c3-85d1-06808edd0a16","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"InvokeHTTP","comments":"","instanceIdentifier":"bcf3b7ce-019a-1000-4c37-13989779f693"},"destination":{"id":"5c298a2e-6390-32c3-85d1-06808edd0a16","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"InvokeHTTP","comments":"","instanceIdentifier":"bcf3b7ce-019a-1000-4c37-13989779f693"},"labelIndex":0,"zIndex":49,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":67.0,"y":5013.0},{"x":67.0,"y":5063.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"c2f245a8-9615-34f3-909c-c949cbb9ade6","instanceIdentifier":"f41e6197-af97-3df8-d8f8-736c8837dc93","name":"","source":{"id":"b3054d32-c288-3d26-8676-a3292e357a3a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ChunkVideo","comments":"","instanceIdentifier":"011aa6fa-da8d-38d7-f5d9-289439ba4bbf"},"destination":{"id":"509be3ab-bab4-3f32-82a7-2ccb8b1d240b","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"8940e5d7-40a8-360a-9ec3-4c2e334cddf3"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"253345b8-e726-3144-a6d7-b33c7ac3a0af","instanceIdentifier":"bce5ffe1-019a-1000-2e86-f01fdec1d2a8","name":"","source":{"id":"9d2862c4-763b-390d-a6b2-998fa3be7d72","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ReplaceText","comments":"","instanceIdentifier":"bce33a03-019a-1000-501f-8c3ee8372379"},"destination":{"id":"4a1dd7d9-1388-37aa-b01e-93c75aebd398","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bce5e473-019a-1000-f8f4-16d5a6e137cc"},"labelIndex":0,"zIndex":46,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"9a9f5718-890a-3456-bdac-fc85a2f6f7af","instanceIdentifier":"b8710d99-019a-1000-e14f-c35806dec34e","name":"","source":{"id":"a891e8c8-5945-35a7-ab5f-47bf9942e84b","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"b86d9d8e-019a-1000-1b45-305f1bce8ea0"},"destination":{"id":"e72b4f49-fb6f-3ca8-bd3c-0f174ba31d20","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ExtractAudioFromVideo","comments":"","instanceIdentifier":"266210a4-1e1f-369e-b737-0a8cb9122f80"},"labelIndex":0,"zIndex":38,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"544c2c1b-5d7d-3454-8dcb-532c00139072","instanceIdentifier":"bcd911a3-019a-1000-071f-57227933b785","name":"","source":{"id":"01f18fca-d95d-3f2c-8897-dac44b9a1718","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GenerateEmbedding","comments":"","instanceIdentifier":"bcd63117-019a-1000-dc67-834df244947f"},"destination":{"id":"ed3fef76-0da1-3bf0-887c-6cfd33a01755","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bcd67759-019a-1000-4f86-3dedb4f79587"},"labelIndex":0,"zIndex":42,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b8728db7-019a-1000-0f40-9a53f1fdcf09","instanceIdentifier":"4cc1b38a-5330-3fe5-66b1-265a5737776d","name":"","source":{"id":"b8728db3-019a-1000-de02-dc6b110d980a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Extract AudioTranscriptionContent","comments":"","instanceIdentifier":"e4fc2140-a05d-3fdb-0cf1-28ec179a0daf"},"destination":{"id":"b8728db5-019a-1000-a57e-85ca24877149","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"71dc875e-f976-3b54-2362-0f4f3063304e"},"labelIndex":0,"zIndex":36,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"cec52cd9-f0c2-32dc-99f7-0fb97f3904b8","instanceIdentifier":"5cf09803-b79d-38ba-be28-06f021dad565","name":"","source":{"id":"10545db6-7e1b-3167-b627-de928ebce94e","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"SplitJson","comments":"","instanceIdentifier":"7c2e3939-6178-3991-28a2-98b79cb892cd"},"destination":{"id":"fc4cced2-3f64-30da-b879-27b12016655f","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"a3a1d2ba-b04a-3c9a-bb17-51babf0ace44"},"labelIndex":0,"zIndex":18,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"4f52ee88-9923-376d-a97f-342bdd1f663b","instanceIdentifier":"bcf4cd29-019a-1000-a3f7-473ea318ebf8","name":"","source":{"id":"8cdd4c3c-c843-3d8a-b7ec-6914be1c322b","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bce5de2d-019a-1000-1f7e-73eb75e5c014"},"destination":{"id":"5c298a2e-6390-32c3-85d1-06808edd0a16","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"InvokeHTTP","comments":"","instanceIdentifier":"bcf3b7ce-019a-1000-4c37-13989779f693"},"labelIndex":0,"zIndex":47,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"9ed87c33-dd6c-3677-b633-f5c1ccf309be","instanceIdentifier":"b850e3b5-019a-1000-70b8-9c647efcb006","name":"","source":{"id":"5ec52cfe-1945-337e-8e39-a38f1edeb899","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"b8501d81-019a-1000-46fa-6f82510779b3"},"destination":{"id":"b9009a78-504b-391c-9a75-125f94249496","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"AnalyzeVideoFrames","comments":"","instanceIdentifier":"b862a2eb-5811-3b49-3d0c-09076e51c2dc"},"labelIndex":0,"zIndex":30,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b6c37b69-dc15-3040-b050-9f37c7af2f8e","instanceIdentifier":"b863bbce-019a-1000-c56c-83df58b8d9b3","name":"","source":{"id":"d5b74741-7562-3e1a-8b48-67a95b59a85a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"TranscribeAudio","comments":"","instanceIdentifier":"b8635f18-019a-1000-b105-29ee6cb670b7"},"destination":{"id":"b863a086-019a-1000-fe86-8eb321672afd","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"3773e649-8ed5-3dc1-b2fc-fe44cec3f583"},"labelIndex":0,"zIndex":33,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"411a4a2d-9c94-373f-affc-f79ab6eb6dcc","instanceIdentifier":"bcf4fd08-019a-1000-5a29-c05fb083d407","name":"","source":{"id":"5c298a2e-6390-32c3-85d1-06808edd0a16","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"InvokeHTTP","comments":"","instanceIdentifier":"bcf3b7ce-019a-1000-4c37-13989779f693"},"destination":{"id":"05961344-3496-396a-84e6-3958505e6762","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bcf4e84a-019a-1000-9d2a-becffae4d11e"},"labelIndex":0,"zIndex":48,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"2bc6dd90-0329-3135-8da5-f9cfc7c8e99c","instanceIdentifier":"6a5e8441-f313-35d7-f05a-c4e3b956f749","name":"","source":{"id":"b3054d32-c288-3d26-8676-a3292e357a3a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ChunkVideo","comments":"","instanceIdentifier":"011aa6fa-da8d-38d7-f5d9-289439ba4bbf"},"destination":{"id":"b82ec275-019a-1000-42b7-98081c37420c","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"ba2d9868-94ae-36da-6c02-e9cfaaa85ba5"},"labelIndex":0,"zIndex":14,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"f7cf5e13-be49-317d-bd13-4815852dcb88","instanceIdentifier":"b86de5b1-019a-1000-4ce6-4573afe41d42","name":"","source":{"id":"7c750414-9910-3116-be10-aac68be7156b","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Extract VideoFrameAnalysisContent","comments":"","instanceIdentifier":"b86bdd39-019a-1000-6992-118e1c62c85f"},"destination":{"id":"a891e8c8-5945-35a7-ab5f-47bf9942e84b","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"b86d9d8e-019a-1000-1b45-305f1bce8ea0"},"labelIndex":0,"zIndex":36,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"3bacb24c-ac15-372d-82f0-b79c641d9dbf","instanceIdentifier":"7e3eaeb8-4f05-3a8f-da03-8d70899f92e2","name":"","source":{"id":"79ab1a85-dc83-35f1-8402-8af2082dd8f3","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"AttributesFromJSON","comments":"","instanceIdentifier":"295f2058-74b8-3106-37c0-4b77e896f94f"},"destination":{"id":"b845a403-019a-1000-f208-87e084669e63","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"c8059492-5ab4-3bb3-d801-9316469901be"},"labelIndex":0,"zIndex":23,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"5be2bf4a-f2be-3fb5-8350-4c33d39d74c8","instanceIdentifier":"ef016f94-90ca-3a07-44fd-e847148c52da","name":"","source":{"id":"b3054d32-c288-3d26-8676-a3292e357a3a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ChunkVideo","comments":"","instanceIdentifier":"011aa6fa-da8d-38d7-f5d9-289439ba4bbf"},"destination":{"id":"b82ec276-019a-1000-4b01-b49a90e4a42d","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"7b9cbf85-1bcd-3ffe-047e-52f538c1f7b1"},"labelIndex":0,"zIndex":15,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"8c3bab3b-58b2-3ed9-9c15-9a41eb30c3cd","instanceIdentifier":"b8637715-019a-1000-5b48-4d9f1622c20c","name":"","source":{"id":"9895aafa-f1a7-38ff-af1c-a6d4d19803e9","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"ad0ba63c-28e5-3c6b-7a5b-8a26989311d0"},"destination":{"id":"d5b74741-7562-3e1a-8b48-67a95b59a85a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"TranscribeAudio","comments":"","instanceIdentifier":"b8635f18-019a-1000-b105-29ee6cb670b7"},"labelIndex":0,"zIndex":31,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"c00ed727-aaf2-39c1-b640-48964184b250","instanceIdentifier":"bce5d5b4-019a-1000-7abc-cb2431d00808","name":"","source":{"id":"80f16380-90f3-3dca-b053-d9570bf0c352","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"bcd6575b-019a-1000-03c2-dcb58d1b1095"},"destination":{"id":"9d2862c4-763b-390d-a6b2-998fa3be7d72","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ReplaceText","comments":"","instanceIdentifier":"bce33a03-019a-1000-501f-8c3ee8372379"},"labelIndex":0,"zIndex":44,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"aaa9cdff-12f6-372c-aa13-8f1d0907155d","instanceIdentifier":"d3df83b3-be19-3fbf-3fad-d24fdc8cb4ca","name":"","source":{"id":"b01a2510-7c2b-34b3-b5df-1558f587d24f","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"dbf9e3ef-9bf1-3730-c329-fe5563e9ebdb"},"destination":{"id":"b3054d32-c288-3d26-8676-a3292e357a3a","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"ChunkVideo","comments":"","instanceIdentifier":"011aa6fa-da8d-38d7-f5d9-289439ba4bbf"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"fdcd7b9e-e8a2-3849-8c1a-ce18b98e5e35","instanceIdentifier":"215b5e54-0429-3243-a3fd-f355ab35343b","name":"","source":{"id":"79ab1a85-dc83-35f1-8402-8af2082dd8f3","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"AttributesFromJSON","comments":"","instanceIdentifier":"295f2058-74b8-3106-37c0-4b77e896f94f"},"destination":{"id":"b845a404-019a-1000-e2b0-575ecdfa49c6","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"4789926b-d9c5-3019-6344-baf51969cd8d"},"labelIndex":0,"zIndex":24,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"1dc88bf9-34c1-3d4e-901d-97e6da77e31a","instanceIdentifier":"0ad8dfdd-6b3f-316f-45b7-b82d62ea9e82","name":"","source":{"id":"79ab1a85-dc83-35f1-8402-8af2082dd8f3","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"AttributesFromJSON","comments":"","instanceIdentifier":"295f2058-74b8-3106-37c0-4b77e896f94f"},"destination":{"id":"5ec52cfe-1945-337e-8e39-a38f1edeb899","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"b8501d81-019a-1000-46fa-6f82510779b3"},"labelIndex":0,"zIndex":22,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"48bdc2f2-7f1e-35f5-bef8-7bb1680a678c","instanceIdentifier":"456e0cfa-f741-37ff-8772-a5c23fee357e","name":"","source":{"id":"fb53b0b5-22cc-37fb-89e6-450b3aadfc96","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GetYouTubeVideo","comments":"","instanceIdentifier":"8956d120-3648-3b8d-28ad-e868ed0f1ddf"},"destination":{"id":"b01a2510-7c2b-34b3-b5df-1558f587d24f","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"dbf9e3ef-9bf1-3730-c329-fe5563e9ebdb"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"704a4ca8-ad54-32c9-9c24-6167077f1ea7","instanceIdentifier":"e48cbd8e-5dc0-3967-0c70-e6dbb466e63d","name":"","source":{"id":"b8ab9a27-d859-3cc2-9047-3bcb9613b801","type":"FUNNEL","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"Funnel","comments":"","instanceIdentifier":"e3671674-5a76-37bb-61b9-a22642a87a2a"},"destination":{"id":"fb53b0b5-22cc-37fb-89e6-450b3aadfc96","type":"PROCESSOR","groupId":"00467651-7b59-3bbd-9a5d-0c9ecb038078","name":"GetYouTubeVideo","comments":"","instanceIdentifier":"8956d120-3648-3b8d-28ad-e868ed0f1ddf"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"}],"labels":[],"funnels":[{"identifier":"b82f002f-019a-1000-d7e7-a397b16d08e9","instanceIdentifier":"667a36c0-1ced-3623-baa8-0a9fb5583d3a","position":{"x":-744.0,"y":1824.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"e6ef2d15-4e1f-3c9c-9c70-1c37641ebe00","instanceIdentifier":"969386d0-1b76-32d1-4d19-3f6b6cb6adba","position":{"x":-256.0,"y":2088.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"80f16380-90f3-3dca-b053-d9570bf0c352","instanceIdentifier":"bcd6575b-019a-1000-03c2-dcb58d1b1095","position":{"x":-256.0,"y":4192.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b863a087-019a-1000-2e30-fb1a57983ec7","instanceIdentifier":"889bc5af-eac3-3cfe-16a0-5db0480bd99a","position":{"x":-744.0,"y":3136.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b8728db5-019a-1000-a57e-85ca24877149","instanceIdentifier":"71dc875e-f976-3b54-2362-0f4f3063304e","position":{"x":-256.0,"y":3728.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"5ec52cfe-1945-337e-8e39-a38f1edeb899","instanceIdentifier":"b8501d81-019a-1000-46fa-6f82510779b3","position":{"x":-256.0,"y":1632.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"ed3fef76-0da1-3bf0-887c-6cfd33a01755","instanceIdentifier":"bcd67759-019a-1000-4f86-3dedb4f79587","position":{"x":-744.0,"y":3936.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"8e94538e-d4d1-32f8-ae2b-606cd27cba5f","instanceIdentifier":"a04242ad-3083-3c5f-4457-642551b53e8f","position":{"x":-744.0,"y":832.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"f40aa3ba-6eb2-3911-960f-d04960b8315d","instanceIdentifier":"b86ded72-019a-1000-4162-1c1846a689c6","position":{"x":-744.0,"y":2264.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b82f002e-019a-1000-e32c-c7a9ce1d86b0","instanceIdentifier":"72fc756b-7cf1-39e3-ecdb-f471b81617a0","position":{"x":-744.0,"y":1912.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"9895aafa-f1a7-38ff-af1c-a6d4d19803e9","instanceIdentifier":"ad0ba63c-28e5-3c6b-7a5b-8a26989311d0","position":{"x":-256.0,"y":2888.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"2b9b694f-df87-379b-b8b8-8331cab28e52","instanceIdentifier":"bf41a244-13a6-349b-23c4-5077bca714c7","position":{"x":-744.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"66b18c5f-7caa-38ca-a8e4-765117372690","instanceIdentifier":"b86382fc-019a-1000-15df-8a2219056ba7","position":{"x":-256.0,"y":3272.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b82ec275-019a-1000-42b7-98081c37420c","instanceIdentifier":"ba2d9868-94ae-36da-6c02-e9cfaaa85ba5","position":{"x":-744.0,"y":296.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b82f4185-019a-1000-67f8-e5cf25016f79","instanceIdentifier":"4962c5bf-fd25-38b4-308e-31055acb25b2","position":{"x":-744.0,"y":2624.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b82ec276-019a-1000-4b01-b49a90e4a42d","instanceIdentifier":"7b9cbf85-1bcd-3ffe-047e-52f538c1f7b1","position":{"x":-744.0,"y":408.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b8728db6-019a-1000-0669-50383b893cc0","instanceIdentifier":"721ea411-c711-3191-2b9d-c8cfedc1b022","position":{"x":-744.0,"y":3560.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"e7694061-5c4f-314f-b735-1c017661fc2c","instanceIdentifier":"29d3e37d-8b4c-3b6a-8480-ceb0084614d3","position":{"x":-744.0,"y":-40.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"4a1dd7d9-1388-37aa-b01e-93c75aebd398","instanceIdentifier":"bce5e473-019a-1000-f8f4-16d5a6e137cc","position":{"x":-744.0,"y":4408.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"509be3ab-bab4-3f32-82a7-2ccb8b1d240b","instanceIdentifier":"8940e5d7-40a8-360a-9ec3-4c2e334cddf3","position":{"x":-256.0,"y":552.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"7336b695-01d1-36fc-be91-a47bbd512597","instanceIdentifier":"bcf4d80f-019a-1000-709c-8f7ffb2f64fc","position":{"x":-744.0,"y":5040.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"81c0ed3e-38ed-39a8-ad2a-c34c822d5dda","instanceIdentifier":"bcd67f16-019a-1000-43fc-432d62338d4e","position":{"x":-744.0,"y":4032.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"7fd5896e-93bc-34d0-98bf-07180f600c6c","instanceIdentifier":"bcf50583-019a-1000-a0f0-4c935f455d24","position":{"x":-744.0,"y":5144.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b845a403-019a-1000-f208-87e084669e63","instanceIdentifier":"c8059492-5ab4-3bb3-d801-9316469901be","position":{"x":-744.0,"y":1056.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"79c6f2ce-298b-34e8-9e94-e521b7d53a01","instanceIdentifier":"65662141-ff00-3221-e2e8-3895f941007e","position":{"x":-744.0,"y":-152.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b8ab9a27-d859-3cc2-9047-3bcb9613b801","instanceIdentifier":"e3671674-5a76-37bb-61b9-a22642a87a2a","position":{"x":-256.0,"y":-288.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"fc4cced2-3f64-30da-b879-27b12016655f","instanceIdentifier":"a3a1d2ba-b04a-3c9a-bb17-51babf0ace44","position":{"x":-256.0,"y":944.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b01a2510-7c2b-34b3-b5df-1558f587d24f","instanceIdentifier":"dbf9e3ef-9bf1-3730-c329-fe5563e9ebdb","position":{"x":-256.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"002c4452-9eba-3ef2-b11c-76c046cb0902","instanceIdentifier":"bcf4e293-019a-1000-dd03-82927f10b70f","position":{"x":-744.0,"y":4928.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"a891e8c8-5945-35a7-ab5f-47bf9942e84b","instanceIdentifier":"b86d9d8e-019a-1000-1b45-305f1bce8ea0","position":{"x":-256.0,"y":2432.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"8cdd4c3c-c843-3d8a-b7ec-6914be1c322b","instanceIdentifier":"bce5de2d-019a-1000-1f7e-73eb75e5c014","position":{"x":-256.0,"y":4600.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b863a086-019a-1000-fe86-8eb321672afd","instanceIdentifier":"3773e649-8ed5-3dc1-b2fc-fe44cec3f583","position":{"x":-744.0,"y":3048.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"05961344-3496-396a-84e6-3958505e6762","instanceIdentifier":"bcf4e84a-019a-1000-9d2a-becffae4d11e","position":{"x":-256.0,"y":5232.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b82f4184-019a-1000-62c0-d2c130d5009c","instanceIdentifier":"204baac3-6cec-3364-825a-93e9feaf52fe","position":{"x":-744.0,"y":2712.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"},{"identifier":"b845a404-019a-1000-e2b0-575ecdfa49c6","instanceIdentifier":"4789926b-d9c5-3019-6344-baf51969cd8d","position":{"x":-744.0,"y":1144.0},"componentType":"FUNNEL","groupIdentifier":"00467651-7b59-3bbd-9a5d-0c9ecb038078"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}